/* Nav and Header Image */
.navbar {
  background-color: transparent;
  border: none;
}

.nav-text {
  text-transform: uppercase;
  font-size: .9vw;
  letter-spacing: 2px;
  font-weight: lighter;
  color: $lt-gray !important;
  font-family: 'Lato', sans-serif;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav-text:hover {
  color: white !important;
}

.brand-text {
  font-family: $secondary-font-family;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 4px;
  color: white !important;
  font-size: 1.5vw;
}

.header-text {
  top: 0;
  margin-top: 20%;
  width: 100%;
  position: absolute;
  color: white;
  font-family: $secondary-font-family;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

.header-text-brand {
  letter-spacing: 2vw;
  font-size: 3vw;
  margin-bottom: .5vh;
}

.header-text-sub {
  font-size: 1.5vw;
  margin-bottom: .5vh;
  color: $lt-gray;
}

/* Footer */
.footer {
  background-color: $black;
  color: $lt-gray;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

/* Body Elements */
.site-body {
  margin-top: 3vh;
}

.banner {
  margin-top: 8vh;
  width: 100vw;
  margin-bottom: 8vh;
}

.bar {
  height: 20vh;
  width: 100vw;
  background-color: $black;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.inline-image {
  float: right;
  height: 400px;
  width: auto;
  margin: 20px;
}

/* Font Customization */
.heading {
  font-family: $secondary-font-family;
  text-transform: uppercase;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 3px;
  margin-top: 3vh;
}

.lt-text {
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  font-size: 110%;
}

.social-icon {
  color: $black;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.social-icon:hover {
  color: $lt-gray;
}

.white-quote {
  font-family: $secondary-font-family;
  text-transform: uppercase;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  color: white;
  padding-top: 7vh;
}

.smaller-quote {
  font-size: 125%;
}
